# Version control
.git
.gitignore
.gitattributes

# Dependency directories
/vendor
/node_modules

# Environment files
.env
.env.*

# Development files
README.md
CHANGELOG.md
phpunit.xml
*.test.php
tests/

# Docker files
Dockerfile
docker-compose.yml
.docker

# IDE files
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
public/logs/*

# Cache files
*.cache
.phpunit.result.cache

# Temporary files
/tmp
/temp
*.tmp

